@charset "utf-8";
@import 'compass';

body {
   display: grid;
   display: -ms-grid;
   justify-content: center;  /*グリッド全体を中央に寄せる設定 */
   grid-gap: 1px;
/*モバイルファースト:モバイルが選択されたあとに上書きで以下の条件選択*/
  @include mq-sp {//768px以下
   //$title_logo_size_w:250px $title_logo_size_h:120px
   grid-template-columns:$title_logo_size_w 134px 34px 100px 250px;/*max 列幅 768px */
   grid-template-rows:40px $title_logo_size_h 600px 200px 200px 200px 1fr 500px 300px; /*行幅*/
   -ms-grid-columns: $title_logo_size_w 550px 100px 200px 250px;/**/
   -ms-grid-rows: 40px $title_logo_size_h 600px 200px 200px 1fr 500px 300px; /**/
   grid-template-areas:
    "TopBand TopBand TopBand TopBand TopBand"     
    "title_logo title_logo imqu imqu imqu"
    "carousel carousel carousel carousel carousel"
    "main_moni main_moni sel_img sel_img sel_img"
    "main_moni main_moni img_desc img_desc img_desc"
    "main_sel_img main_sel_img main_sel_img main_sel_img main_sel_img"
    "sample_itm sample_itm sample_itm sample_itm sample_itm" 
    "main main main sidebar sidebar"
    "footer footer footer footer footer";
   }
   @include mq-ipd {//768--1260px
   //$title_logo_size_w:250px $title_logo_size_h:120px
   grid-template-columns:$title_logo_size_w 550px 100px 110px 250px;/*max 列幅 1260px */
   grid-template-rows:40px $title_logo_size_h 600px 200px 200px 200px 1fr 500px 300px; /*行幅*/
   -ms-grid-columns: $title_logo_size_w 550px 100px 200px 250px;/**/
   -ms-grid-rows: 40px $title_logo_size_h 600px 200px 200px 1fr 500px 300px; /**/
   grid-template-areas:
    "TopBand TopBand TopBand TopBand TopBand"     
    "title_logo gnav gnav gnav imqu"
    "carousel carousel carousel carousel carousel"
    "main_moni main_moni sel_img sel_img sel_img"
    "main_moni main_moni img_desc img_desc img_desc"
    "main_sel_img main_sel_img main_sel_img main_sel_img main_sel_img"
    "sample_itm sample_itm sample_itm sample_itm sample_itm" 
    "main main main sidebar sidebar"
    "footer footer footer footer footer";
   }
   @include mq-pc {//1260px以上
   //$title_logo_size_w:250px $title_logo_size_h:120px
   grid-template-columns:$title_logo_size_w 550px 100px 200px 250px;/*max 列幅 1350px */
   grid-template-rows:40px $title_logo_size_h 600px 200px 200px 200px 1fr 500px 300px; /*行幅*/
   -ms-grid-columns: $title_logo_size_w 550px 100px 200px 250px;/**/
   -ms-grid-rows: 40px $title_logo_size_h 600px 200px 200px 1fr 500px 300px; /**/
   grid-template-areas:
    "TopBand TopBand TopBand TopBand TopBand"     
    "title_logo gnav gnav gnav imqu"
    "carousel carousel carousel carousel carousel"
    "main_moni main_moni sel_img sel_img sel_img"
    "main_moni main_moni img_desc img_desc img_desc"
    "main_sel_img main_sel_img main_sel_img main_sel_img main_sel_img"
    "sample_itm sample_itm sample_itm sample_itm sample_itm" 
    "main main main sidebar sidebar"
    "footer footer footer footer footer";
   }
   
}

/* ハンバーガーメニューにgridで変化 */
nav {
  grid-area: gnav;
  height:$title_logo_size_h - 5px; 
//  @include bg-gradient;
}
.container{
  width:700px;
  height:100px;    
}
.gblnv_block_class{
 margin-top: 10px;
}
.collapse{
  width:700px;
  margin:0 auto;
  display:table;
  font-size:16px;
  list-style: none;
}
.navbar-nav li{
  display:table-cell;
  vertical-align:middle;

}
.navbar-nav a{
  height:80px;
  width:100%;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  background:#fff;
  color:#555;
  @include circle;
//border-right:1px solid red;
 }
 #fa li.menu-item a span {
  font-size:22px;
  font-size:22rem;
  color: #999;
  text-shadow: 0 1px #fff;
  text-align: center;
  font-family: verdana, Arial, Helvetica, sans-serif;
}
.navbar-nav li:first-child a{
//  border-left:1px solid red;
}
.navbar-nav li a:hover{
  background:#EEE;
}
.navbar-brand{
    display: none;
}

