@charset "utf-8";
@import 'compass';
/*galley*/
//主モニタ
#main_moni {
  grid-area: main_moni;
 
  border: 1px solid red;
}
//選択モニタ
    #sel_img {
    grid-area: sel_img;
    position:relative;
    border: 1px solid red;
    #thumbBtn {
        position:absolute;
        top:10px;
        right:10px;
        width:750px;
        li{
            padding: 0 0 0 2px;
            /*	float:left; */
            float:right;       
            text-align:right;
            width: 185px;
            cursor:pointer;
            list-style-type:none;
            &.active {
                opacity:0.5;
                filter:alpha(opacity=50);
                -ms-filter: "alpha( opacity=50 )";
            }
            img {
        	border: solid 1px #ccc;
            }
        }
    }
    //説明テーブル
    #img_desc {
        grid-area: img_desc;
	position:relative;
	top:200px;
	left:120px;
	text-align:left;
	width:220px;
        .table1 {
            border-collapse: collapse;
            width: 350px;
            margin-right:20px;
            .table1 th, .table1 td {
                border: 1px solid gray;
                text-align: center;
            }
        }
    }
}
//選択切り替えモニタ
#main_sel_img {
    grid-area: main_sel_img;
    border: 1px solid black;
    #thumbBtn2 li{
        &.active {
            opacity:0.5;
            filter:alpha(opacity=50);
            -ms-filter: "alpha( opacity=50 )";
        }
        img {
            border: solid 1px #ccc;
        }
   }
}
